[submodule "Chaos/vendor/spdlog"]
	path = Chaos/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Chaos/vendor/glfw"]
	path = Chaos/vendor/glfw
	url = https://github.com/dohnala/glfw
[submodule "Chaos/vendor/glm"]
	path = Chaos/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Chaos/vendor/imgui"]
	path = Chaos/vendor/imgui
	url = https://github.com/dohnala/imgui
